<div class="productos">
    <h4>Hola {{usuario}} <button class="boton2" type="button" onclick="location.href='/admin/login/logout'">Cerrar Sesion</button></h4>
    <nav>
        <div>
            <ul class="ul2">
                <li class="li2">
                    <a class="li2" href="/admin/productos">Remeras</a>
                    <a class="li2" href="/admin/productos">Gorras</a>
                    <a class="li2" href="/admin/productos">Abrigos</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="product">

        <div class="contprod">
            <div class="prod">
                IMG
            </div>
            <div class="precio">
                $$$
            </div>
        </div>

        <div class="contprod">
            <div class="prod">
                IMG
            </div>
            <div class="precio">
                $$$
            </div>
        </div>

        <div class="contprod">
            <div class="prod">
                IMG
            </div>
            <div class="precio">
                $$$
            </div>
        </div>

        <div class="contprod">
            <div class="prod">
                IMG
            </div>
            <div class="precio">
                $$$
            </div>
        </div>

        <div class="contprod">
            <div class="prod">
                IMG
            </div>
            <div class="precio">
                $$$
            </div>
        </div>

        <div class="contprod">
            <div class="prod">
                IMG
            </div>
            <div class="precio">
                $$$
            </div>
        </div>


    </div>

</div>